<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <span class="fa">
          {{ if eq .Identifier "home" }}
            <i class="fa-home"></i>
          {{ else if eq .Identifier "archives" }}
            <i class="fa-archives"></i>
          {{ else if eq .Identifier "tags" }}
            <i class="fa-tags"></i>
          {{ else if eq .Identifier "categories" }}
            <i class="fa-categories"></i>
          {{ end }}
        </span>
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>
