<div id="mobile-navbar" class="mobile-navbar">
  <div class="mobile-header-logo">
    <a href="{{ "/" | relLangURL }}" class="logo">
      {{- if .Site.Params.logoTitle -}}
        {{ .Site.Params.logoTitle }}
      {{- else -}}
        {{ .Site.Title }}
      {{- end -}}
    </a>
  </div>
  <div class="mobile-navbar-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<nav id="mobile-menu" class="mobile-menu slideout-menu">
  <ul class="mobile-menu-list">
    {{ range .Site.Menus.main -}}
      <a href="{{ .URL | safeURL }}">
        <li class="mobile-menu-item fa">
          {{ if eq .Identifier "home" }}
            <i class="fa-home"></i>
          {{ else if eq .Identifier "archives" }}
            <i class="fa-archives"></i>
          {{ else if eq .Identifier "tags" }}
            <i class="fa-tags"></i>
          {{ else if eq .Identifier "categories" }}
            <i class="fa-categories"></i>
          {{ end }}

          {{ .Name }}
        </li>
      </a>
    {{- end }}
  </ul>
</nav>
